<%include partials/header%>
<article>
        <div class="jumbotron container">
                <h1 class="display-3 text-center">News</h1>     
        </div>
                        <div class="container">
                                <p class="text-right" >
                                        <select>
                                            <option value="">The Wall Street Journal</option>
                                    </select>
                                    </p> 
                            <div class="row">
                                    <%articles.forEach(function(article){%>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <div class="container card mt-2 mb-2">
                                                <div class="card-body">
                                                  <h5 class="card-title"><%=article.title%></h5>
                                                  <img src="<%=article.urlToImage%>" class="card-img-top" alt="...">
                                                  <p class="card-text"><%=article.description.substring(0,75)%>...<br>
                                                    <a href="/news/:id" class="btn btn-info">Read More</a>
                                                  </p>
                                                </div>
                                        </div>
                                    </div>
                                    <%});%>
                            </div>
                        </div>


</article>

<%include partials/footer%>
